<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/static/css/styles.css" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">
  <title>Main Page</title>
</head>
<body class="container full-height-grow">
  <header class="main-header">
    <a href="/" class="brand-logo">
      <img src="/static/images/logo.png">
      <div class="brand-logo-name">Data Analysis</div>
    </a>
    <nav class="main-nav">
      <ul>
        <li><a href="Analysis">Visualization</a></li>
        <li><a href="Predection">Prediction</a></li>
      </ul>
    </nav>
  </header>
  
 <!--For Image-->
  
  <section class="home-main-section">
    <div class="img-wrapper">
      <div class="lady-image">
      </div>
      
<!--For Text-->
        
    </div>
    <div class="call-to-action">
      <h1 class="title">Data Analysis On Automobile</h1>
      <span class="subtitle">“Data is a precious thing and will last longer than the systems themselves.”
        – Tim Berners-Lee, inventor of the World Wide Web.
      </span>
      
<!--For Circle-->
   
    </div>
  </section>
  <div class="home-page-circle-1"></div>
  <div class="home-page-circle-2"></div>
  <div class="home-page-circle-3"></div>
 
</body>
</html>
</body>
</html>
